<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-btn-tilt.css">
</head>

<body>

    <h1>main button</h1>
    <div class="fb-button-wrapper">
        <div class="expected">
            <h4>expected</h4>
            <img src="../expects/main-button-tilt.png" alt="">
        </div>

        <div class="results">
            <h4>results</h4>
            <div class="main-btn-tilt">
                <div class="main-btn-tilt-shadow"></div>
                <div class="main-btn-tilt-background"></div>
                <div class="main-btn-tilt-border"></div>
                <div class="main-btn-tilt-label">
                    <div class="main-btn-tilt-content">
                        <div class="main-btn-tilt-text">
                            Vipcream Thanapinanchai
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>