<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/timeline.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:400,500,600,700&amp;subset=thai" rel="stylesheet">
</head>

<body>

    <h1>timeline</h1>
    <div class="fb-button-wrapper">
        <div class="expected">
            <h4>expected</h4>
            <img src="../expects/timeline.png" alt="">
        </div>

        <div class="results">
            <h4>results</h4>
            <div class="timeline">
                <div class="timeline-times">
                    <div class="timeline-times-each">
                        <strong class="timeline-times-each-label">17.00 น.</strong>
                    </div>
                    <div class="timeline-times-each">
                        <strong class="timeline-times-each-label">18.00 น.</strong>
                    </div>
                    <div class="timeline-times-each">
                        <strong class="timeline-times-each-label">19.00 น.</strong>
                    </div>
                    <div class="timeline-times-each">
                        <strong class="timeline-times-each-label">20.00 น.</strong>
                    </div>
                    <div class="timeline-times-each">
                        <strong class="timeline-times-each-label">23.00 น.</strong>
                    </div>
                </div>
                <div class="timeline-mainline">
                    <div class="timeline-mainline-each">
                        <div class="timeline-mainline-each-node"></div>
                        <div class="timeline-mainline-each-line"></div>
                    </div>
                    <div class="timeline-mainline-each">
                        <div class="timeline-mainline-each-node"></div>
                        <div class="timeline-mainline-each-line"></div>
                    </div>
                    <div class="timeline-mainline-each">
                        <div class="timeline-mainline-each-node"></div>
                        <div class="timeline-mainline-each-line"></div>
                    </div>
                    <div class="timeline-mainline-each">
                        <div class="timeline-mainline-each-node"></div>
                        <div class="timeline-mainline-each-line"></div>
                    </div>
                    <div class="timeline-mainline-each">
                        <div class="timeline-mainline-each-node"></div>
                    </div>
                </div>
                <div class="timeline-events">
                    <div class="timeline-events-each">
                        <div class="timeline-events-each-label">
                            <div class="timeline-events-each-label-frame">
                                <img src="../images/tap_timeline.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-events-each">
                        <div class="timeline-events-each-label">
                            <div class="timeline-events-each-label-frame">
                                <img src="../images/tap_timeline.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-events-each">
                        <div class="timeline-events-each-label">
                            <div class="timeline-events-each-label-frame">
                                <img src="../images/tap_timeline.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-events-each">
                        <div class="timeline-events-each-label">
                            <div class="timeline-events-each-label-frame">
                                <img src="../images/tap_timeline.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="timeline-events-each">
                        <div class="timeline-events-each-label">
                            <div class="timeline-events-each-label-frame">
                                <img src="../images/tap_timeline.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>