.fb-btn {
    display: inline-block;
    position: relative;
    /* Used to controle the box size */
    font-size: 10px;
}

.fb-btn .fb-btn-border {
    position: absolute;
    top: -0.5em;
    left: -0.6em;
    width: 100%;
    height: 100%;
    background-image: url("../images/facebooklogin_back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn .fb-btn-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/facebooklogin.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn .fb-btn-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/facebooklogin_back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fb-btn .fb-btn-label {
    position: relative;
    padding: 3em;
}

.fb-btn .fb-btn-label .fb-btn-content {
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    -ms-transform: rotate(-2.5deg);
    /* IE 9 */
    -webkit-transform: rotate(-2.5deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-2.5deg);
}

.fb-btn .fb-btn-label .fb-btn-content .fb-btn-space {
    display: inline-block;
    width: 1.9em;
}

.fb-btn .fb-btn-label .fb-btn-content .fb-btn-text {
    display: inline-block;
    position: relative;
    top: -0.15em;
    color: white;
}