.timeline {
    display: inline-block;
    position: relative;
    font-size: 32px;
    white-space: nowrap;
}

/*timeline-times*/

.timeline-times {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.timeline-times-each {
    position: relative;
    margin: -0.4em 0em;
    padding-right: 3em;
    line-height: 6.7em;
    vertical-align: center;
}

.timeline-times-each-label {
    color: black;
    font-family: Kanit;
    font-weight: 400;
    font-size: 1.9em;
}


/*timeline-mainline*/

.timeline-mainline {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;
    padding: 2em 0em;
}

.timeline-mainline-each {
    display: block;
    position: relative;
}

.timeline-mainline-each-node {
    position: relative;
    margin: -0.15em 0em;
    width: 2.4em;
    height: 2.4em;
    background-image: url('../images/dot_timeline.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.timeline-mainline-each-line {
    position: relative;
    display: block;
    left: 50%;
    margin-left: -0.065em;
    width: 0.14em;
    height: 4.5em;
    background-color: black;
}


/*timeline-events*/

.timeline-events {
    display: inline-block;
    position: relative;
    vertical-align: top;
    /* ต้อง set ให้ ความกว้างของอันนี้ = ความกว้างมากที่สุดของ กล่องข้อความสีเหลือง ไม่งั้นจะไม่สามารถ set ให้ทั้ง .timeline อยู่ตรงกลางหน้าได้*/
    width: 20em;
}

.timeline-events-each {
    position: relative;
    height: 6.6em;
    padding-left: 4em;
}

.timeline-events-each-label {
    position: absolute;
    top: -2.1em;
    height: 100%;
}

.timeline-events-each-label-frame {
    position: absolute;
    bottom: 0;
    /*แก้ตรงนี้ให้ภาพมันขนาดพอดีครับ*/
    zoom: 0.75;
}

.timeline-events-each-label img {
    width: 12em;
}