
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$home-bg : #FFF174;

//colors
$white: #fff;
$black: black;
$gray :#F1F1F2;
$team_red :#EF4036;
$team_blue : #69C8CC;
$team_green: #C9DB50;
$team_orange : #F7901D;
$team_yellow : #FFD429;

$register_bg : $gray;

//urls
$url_facebooklogin_back: url(../../../public/img/facebooklogin_back.svg);
$url_facebooklogin: url(../../../public/img/facebooklogin.svg);
$url_navborder: url(../../../public/img/bar.svg);
$url_bg_profile2: url(../../../public/img/bg_profile2.svg);
$url_bg_profile1: url(../../../public/img/bg_profile1.svg);
$url_Re: url(../../../public/img/Re.svg);
$url_bg_line: url(../../../public/img/bg_line.svg);
$url_name_back: url(../../../public/img/tag_name_back.svg);
$url_name: url(../../../public/img/tag_name.svg);
$url_dot_timeline: url(../../../public/img/dot_timeline.svg);
$url_dot: url(../../../public/img/dot.svg);
$url_location_tag: url(../../../public/img/location_tag.svg);

//fonts
$font_kanit: Kanit;
